body {
    background-color: white;
}

.member__img {
    position: relative;
}

.member__img .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
}

.member__content .container {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.member__content h3, h4, h5 {
    text-align: center;
}

.member__content h4 {
    color: black;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.jb-division-line {
    border-top: 3px solid #444444;
    margin: 30px auto 100px;
}

.member__content img {
    width: 30vw;
    object-fit: cover;
    border-radius: 25px 25px 0% 0%;
    max-width: 300px;
    max-height: 300px;
}

.card {
    border: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .content{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
}